body {
  margin: 0px;
  padding: 0px;
}

main {
  background-color: gold;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* horizontal axis */
  flex-direction: row;
  justify-content: center;
  /* perpendicular (vertical) axis */
  align-items: center;
}

.calculator {
  width: 200px;
  height: 300px;
  background-color: maroon;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  box-sizing: border-box;
}

.calcRow {
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.display {
  background-color: black;
}

.button {
  width: 33px;
  height: 33px;
  background-color: white;
  border-radius: 4px;
  margin: 2px;
}

.long {
  flex: 2;
}
