body {
  margin: 0px;
  padding: 0px;
}

main {
  background-color: gold;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* horizontal axis */
  flex-direction: row;
  justify-content: center;
  /* perpendicular (vertical) axis */
  align-items: center;
}

.calculator {
  width: 300px;
  height: 550px;
  background-color: maroon;
  border-radius: 5px;
  box-shadow: 8px 8px 8px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  box-sizing: border-box;
}

.calcRow {
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.display {
  background-color: black;
  height: 80px;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 20px;
}

.button {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 4px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.fas {
  font-size: 30px;
}

.long {
  flex: 2;
}

.container1,
.container2 {
  border: 1px solid black;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  flex: 1;
  background-color: rgb(201, 198, 198);
}

.container2 {
  flex: 2;
  background-image: url('https://images.unsplash.com/photo-1632207190829-a97e41017175?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1270&h=1000&q=80');
}
